{% extends "_templates/base.twig" %} {% block contenido %}

<div class="col-md-12">

	<div class="row">
		<table class="table table-bordered">		
		  <tr>
		      
		          <th>Código</th>
		          <th>Concepto</th>
		          <th>Precio</th>
		          <th>Unidades</th>
		          <th>Total</th>
		          <th>Opciones</th>		          
		      	  
		  </tr>	
		  
		{% for producto in carrito.items %} 	
		<tr>		
		  <td>1</td>
		  <td>{{ producto.nombre }}</td>
		  <td>{{ producto.precio }}€</td>
		  <td>{{ producto.cantidad }}</td>
		  <td>{{ producto.precio * producto.cantidad}}€</td>
		  <td><a href="">Eliminar</a></td>		
		</tr>
		{% endfor %}
		<tr>
		<td></td>
		<td>Total</td>
		<td></td>
		<td>{{ carrito.articulos_total }}</td>
		<td>{{ carrito.precio_total }}€</td>
		</tr>
		</table>
		<p>
		<a href="" class="btn btn-default">Vaciar Carrito</a>
		<a href="" class="btn btn-primary">Realizar pedido</a>
		</p>
	</div>
</div>


{% endblock %}




