{% extends "_templates/base.twig" %} {% block contenido %}

<div class="col-md-12">
	<h1>
		<small>Datos Personales</small>
	</h1>
	<label for=""><a href="">Modificar datos</a></label>

	<p>Carlos Arteaga Virella</p>
	<p>Avenida Huelva 6</p>


	<h1>
		<small>Pedidos en proceso</small>
	</h1>
	<table class="table table-hover">
		<tr>

			<th>C贸digo</th>
			<th>Fecha creaci贸n</th>
			<th>Fecha entrega</th>
			<th>Factura</th>
			<th>Estado Actual</th>
			<th>Operaciones</th>
		</tr>
		{% for pedNoProce in pedsNoProce %}
		<tr>
			<td>{{ pedNoProce.idPedido }}</td>
			<td>{{ pedNoProce.fecha_creacion }}</td>
			<td>--</td>
			<td><a
				href="{{ base_url() }}pedido/factura/{{ pedNoProce.idPedido  }}"><span
					class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></a></td>
			<td>En proceso</td>
			<td><a href="">Ver</a> | <a href="">Cancelar</a></td>
		</tr>

		{% endfor %}
	</table>


	<h1>
		<small>Historial pedidos</small>
	</h1>
	<hr />
	<table class="table table-hover">
		<tr>
			<th>C贸digo</th>
			<th>Fecha creaci贸n</th>
			<th>Fecha entrega</th>
			<th>Factura</th>
			<th>Estado Actual</th>
			<th>Operaciones</th>
		</tr>
		{% for pedido in pedidos %}
		<tr>
			<td>{{ pedido.idPedido }}</td>
			<td>{{ pedido.fecha_creacion }}</td>
			<td>--</td>
			<td><a
				href="{{ base_url() }}pedido/factura/{{ pedido.idPedido  }}"><span
					class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></a></td>
			<td></td>
			<td><a href="">Ver</a> | <a href="">Cancelar</a></td>
		</tr>

		{% endfor %}
	</table>


</div>

{% endblock %}
